.department__container
{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
}

.department__file
{
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    margin-top: 16px;
}

input[type="file"] {
    display: none;
}

.department__submitbtn
{
    padding:8px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #3F51B5;
}