.link
{
    color: #fff;
    text-decoration: none;

}

.navbar
{
    background-color: #3F51B5;
    padding: 0 5px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    list-style: none;
}

ul li
{
    padding: 14px;
    transition: all 0.5s ease;
}

.navigation:hover
{
    background-color: #5266d9;
    
}

.active {
    /* font-size: 1.1em; */
    /* font-weight: 600; */
    /* letter-spacing: 1px; */
    
    border-bottom:2px solid white;
  }

.logout__btn
{
    padding: 8px;
    background-color: #C62828;
    color: #fff;
    border: none;   
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.logout__btn:hover
{
    transform: scale(1.03);
    background-color: #891a1a;
}


.modal__plane
{
    width: 450px;
    height: 250px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
